{% extends 'base.html.twig' %}

{% block title %}Password Reset Successful{% endblock %}

{% block body %}
<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-6 text-center">
      <h2>Password Updated</h2>
      <p class="lead">The admin password has been updated successfully. For security, remove the <strong>ADMIN_RESET_TOKEN</strong> environment variable now.</p>
      <a href="/login" class="btn btn-primary">Go to Login</a>
    </div>
  </div>
</div>
{% endblock %}
